---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Card from '../../components/cards/card.astro'
import { CardsJSX } from '../../components/cards/cardsJSX'
import Team from '../../components/carrousel/team'

const response = await fetch('https://mercado.webapp.ar/api/')
const data = await response.json()
let carrouselData = data.map((d: any, index: any) => {
  return {
    id: index + 100,
    title: d.titulo,
    speciality: d.descripcion,
    src: 'https://mercado.webapp.ar/images/' + d.imagen,
    button: 'comprar',
  }
})
carrouselData = [...carrouselData, ...carrouselData]
---

<BaseLayout title="Mercado" max="max-w-[71rem]">
  <div class="container px-8 max-w-[70rem] m-auto">
    <div
      class="mt-16 md:mt-0 lg:max-w-[70rem] max-w-3xl m-auto text-center lg:text-left"
    >
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Mercado Web App
      </h2>
      <p class="text-lg mt-1 text-accent-content">Your Favorite Ecommerce</p>
      <h1 class="font-bold mt-4 mb-2">
        Products (products fetched in build time)
      </h1>
    </div>
    <div class="m-auto lg:max-w-[70rem] max-w-2xl">
      <div
        class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:gap-4 md:gap-8"
      >
        {
          data.map(
            (item: {
              titulo: string
              descripcion: string
              imagen: string
              precio: string
            }) => (
              <Card
                title={item.titulo}
                description={item.descripcion}
                image={item.imagen}
                price={item.precio}
              />
            ),
          )
        }
      </div>
    </div>
    <h1 class="font-bold mt-8">Offers (products fetched in real time)</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <CardsJSX client:only />
    </div>
    <h1 class="font-bold text-4xl text-center p-4 mt-8 brightness-90">
      Products in Carousel Component
    </h1>
    <div class="flex justify-center max-w-[90rem] brightness-90">
      <Team client:only vets={carrouselData} />
    </div>
  </div>
</BaseLayout>
