---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Array from '../../../components/array.astro'
import { getEntry } from 'astro:content'

const verbosIrregulares = await getEntry('portugues', 'verbos-irregulares')
const data = [
  {
    title: 'Presente',
    arrayName: 'presente',
  },
  {
    title: 'Presente do Subjuntivo',
    arrayName: 'presente-do-subjuntivo',
  },
  {
    title: 'Preterito Perfeito',
    arrayName: 'preterito-perfeito',
  },
  {
    title: 'Preterito Imperfeito',
    arrayName: 'preterito-imperfeito',
  },
  {
    title: 'Futuro do Subjuntivo',
    arrayName: 'futuro-do-subjuntivo',
  },
  {
    title: 'Ejemplo',
    arrayName: 'ejemplos',
  },
]
---

<BaseLayout title="Portugues" max="max-w-[60rem]">
  <div class="wrapper text-sm sm:px-12 sm:text-lg max-w-[65rem] mx-auto">
    <div class="one bg-base-200 p-2">Semana 2</div>
    <div class="two bg-base-300 px-4 py-2">
      <div class="font-bold">Explicacion de un projecto que hice:</div>
      <div>
        Recentemente, concluí um projeto envolvendo a criação de uma loja de
        café utilizando as tecnologias React e Node JS. Neste projeto,
        desenvolvi uma plataforma que permite aos usuários explorar diferentes
        tipos de café, fazer pedidos e até mesmo personalizar suas bebidas de
        acordo com suas preferências. Utilizei React para criar uma interface de
        usuário interativa e responsiva, enquanto o Node JS foi empregado para
        construir o backend que gerencia os pedidos, estoque e interações com os
        clientes. Estou muito satisfeito com o resultado alcançado e com as
        habilidades que adquiri ao longo desse processo
      </div>
    </div>
    <div class="three bg-base-200 px-4 py-2">
      <div class="font-bold">Temas:</div>
      <div>* Mas e Mais.</div>
      <div>* Verbos regulares e irregulares</div>
      <div>* Preparar un video sobre el trabajo remoto.</div>
    </div>
    <div class="four bg-base-200 p-2">
      <div class="p-4 rounded shadow">
        <h1 class="text-2xl font-bold mb-4">
          Conjugación de Verbos en Portugués
        </h1>

        <h2 class="text-xl font-semibold mb-2">Ter (Tener)</h2>
        <div class="space-y-2">
          <p><span class="font-bold">Presente:</span></p>
          <ul class="list-disc pl-6 space-y-1">
            <li>Eu tenho (Yo tengo)</li>
            <li>Tu tens (Tú tienes)</li>
            <li>Ele/ela/você tem (Él/ella/usted tiene)</li>
            <li>Nós temos (Nosotros/as tenemos)</li>
            <li>Vós tendes (Vosotros/as tenéis)</li>
            <li>Eles/elas/vocês têm (Ellos/ellas/ustedes tienen)</li>
          </ul>

          <p><span class="font-bold">Pretérito Perfeito (Pasado):</span></p>
          <ul class="list-disc pl-6 space-y-1">
            <li>Eu tive (Yo tuve)</li>
            <li>Tu tiveste (Tú tuviste)</li>
            <li>Ele/ela/você teve (Él/ella/usted tuvo)</li>
            <li>Nós tivemos (Nosotros/as tuvimos)</li>
            <li>Vós tivestes (Vosotros/as tuvisteis)</li>
            <li>Eles/elas/vocês tiveram (Ellos/ellas/ustedes tuvieron)</li>
          </ul>

          <p><span class="font-bold">Futuro:</span></p>
          <ul class="list-disc pl-6 space-y-1">
            <li>Eu terei (Yo tendré)</li>
            <li>Tu terás (Tú tendrás)</li>
            <li>Ele/ela/você terá (Él/ella/usted tendrá)</li>
            <li>Nós teremos (Nosotros/as tendremos)</li>
            <li>Vós tereis (Vosotros/as tendréis)</li>
            <li>Eles/elas/vocês terão (Ellos/ellas/ustedes tendrán)</li>
          </ul>
        </div>

        <h2 class="text-xl font-semibold mt-4">Ejemplos:</h2>
        <ul class="list-disc pl-6 space-y-1">
          <li>Nós temos um encontro hoje. (Tenemos una cita hoy.)</li>
          <li>Tu tiveste uma ideia brilhante. (Tuviste una idea brillante.)</li>
          <li>
            Eles terão aulas de dança amanhã. (Ellos tendrán clases de baile
            mañana.)
          </li>
        </ul>
      </div>
    </div>
    <div class="five bg-base-300 p-2">
      Ir (Ir): Presente: Eu vou (Yo voy) Tu vais (Tú vas) Ele/ela/você vai
      (Él/ella/usted va) Nós vamos (Nosotros/as vamos) Vós ides (Vosotros/as
      vais) Eles/elas/vocês vão (Ellos/ellas/ustedes van) Pretérito Perfeito
      (Pasado): Eu fui (Yo fui) Tu foste (Tú fuiste) Ele/ela/você foi
      (Él/ella/usted fue) Nós fomos (Nosotros/as fuimos) Vós fostes (Vosotros/as
      fuisteis) Eles/elas/vocês foram (Ellos/ellas/ustedes fueron) Futuro: Eu
      irei (Yo iré) Tu irás (Tú irás) Ele/ela/você irá (Él/ella/usted irá) Nós
      iremos (Nosotros/as iremos) Vós ireis (Vosotros/as iréis) Eles/elas/vocês
      irão (Ellos/ellas/ustedes irán) Ejemplos: Eu vou ao cinema esta noite.
      (Voy al cine esta noche.) Ela foi à praia no fim de semana passado. (Ella
      fue a la playa el fin de semana pasado.) Nós iremos viajar nas férias.
      (Nosotros/as iremos a viajar en las vacaciones.)
    </div>
    <div class="six bg-base-200 p-2">
      Estar (Estar): Presente: Eu estou (Yo estoy) Tu estás (Tú estás)
      Ele/ela/você está (Él/ella/usted está) Nós estamos (Nosotros/as estamos)
      Vós estais (Vosotros/as estáis) Eles/elas/vocês estão (Ellos/ellas/ustedes
      están) Pretérito Perfeito (Pasado): Eu estive (Yo estuve) Tu estiveste (Tú
      estuviste) Ele/ela/você esteve (Él/ella/usted estuvo) Nós estivemos
      (Nosotros/as estuvimos) Vós estivestes (Vosotros/as estuvisteis)
      Eles/elas/vocês estiveram (Ellos/ellas/ustedes estuvieron) Futuro: Eu
      estarei (Yo estaré) Tu estarás (Tú estarás) Ele/ela/você estará
      (Él/ella/usted estará) Nós estaremos (Nosotros/as estaremos) Vós estareis
      (Vosotros/as estaréis) Eles/elas/vocês estarão (Ellos/ellas/ustedes
      estarán) Ejemplos: Eu estou cansado hoje. (Estoy cansado hoy.) Ela esteve
      ocupada a manhã toda. (Ella estuvo ocupada toda la mañana.) Nós estaremos
      prontos para o evento. (Estaremos listos para el evento.)
    </div>
    <div class="seven bg-base-300 p-2">
      Ser (Ser): Presente: Eu sou (Yo soy) Tu és (Tú eres) Ele/ela/você é
      (Él/ella/usted es) Nós somos (Nosotros/as somos) Vós sois (Vosotros/as
      sois) Eles/elas/vocês são (Ellos/ellas/ustedes son) Pretérito Perfeito
      (Pasado): Eu fui (Yo fui) Tu foste (Tú fuiste) Ele/ela/você foi
      (Él/ella/usted fue) Nós fomos (Nosotros/as fuimos) Vós fostes (Vosotros/as
      fuisteis) Eles/elas/vocês foram (Ellos/ellas/ustedes fueron) Futuro: Eu
      serei (Yo seré) Tu serás (Tú serás) Ele/ela/você será (Él/ella/usted será)
      Nós seremos (Nosotros/as seremos) Vós sereis (Vosotros/as seréis)
      Eles/elas/vocês serão (Ellos/ellas/ustedes serán) Ejemplos: Eu sou
      professor. (Yo soy profesor.) Ela foi à festa ontem. (Ella fue a la fiesta
      ayer.) Nós seremos melhores amigos. (Nosotros/as seremos mejores amigos.)
    </div>
    <div class="eight bg-base-200 px-4 pb-4">
      <h1 class="mb-2">Verbos Irregulares</h1>
      {
        verbosIrregulares.data.map((item: { [x: string]: any; title: unknown }, index: number) => {
          return (
            <>
              <div>
                <div>
                  <div class="font-bold mt-4">
                    {index + 1}: {item.title}
                  </div>
                </div>
                <Array
                  title={data[0].title}
                  arreglo={item[data[0].arrayName]}
                />
                <Array
                  title={data[1].title}
                  arreglo={item[data[1].arrayName]}
                />
                <Array
                  title={data[2].title}
                  arreglo={item[data[2].arrayName]}
                />
                <Array
                  title={data[3].title}
                  arreglo={item[data[3].arrayName]}
                />
                <Array
                  title={data[4].title}
                  arreglo={item[data[4].arrayName]}
                />
                <Array
                  title={data[5].title}
                  arreglo={item[data[5].arrayName]}
                />
              </div>
            </>
          )
        })
      }
    </div>
    <div class="nine">
      Falar (Hablar): Presente: Eu falo (Yo hablo) Tu falas (Tú hablas)
      Ele/ela/você fala (Él/ella/usted habla) Nós falamos (Nosotros/as hablamos)
      Vós falais (Vosotros/as habláis) Eles/elas/vocês falam
      (Ellos/ellas/ustedes hablan) Pretérito Perfeito (Pasado): Eu falei (Yo
      hablé) Tu falaste (Tú hablaste) Ele/ela/você falou (Él/ella/usted habló)
      Nós falamos (Nosotros/as hablamos) Vós falastes (Vosotros/as hablasteis)
      Eles/elas/vocês falaram (Ellos/ellas/ustedes hablaron) Futuro: Eu falarei
      (Yo hablaré) Tu falarás (Tú hablarás) Ele/ela/você falará (Él/ella/usted
      hablará) Nós falaremos (Nosotros/as hablaremos) Vós falareis (Vosotros/as
      hablaréis) Eles/elas/vocês falarão (Ellos/ellas/ustedes hablarán)
      Ejemplos: Eu falo português e inglês. (Hablo portugués e inglés.) Ela
      falou sobre o novo projeto. (Ella habló sobre el nuevo proyecto.) Nós
      falaremos com o chefe sobre a proposta. (Hablaremos con el jefe sobre la
      propuesta.)
    </div>
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
  }
  .four {
    grid-column: 1/4;
    grid-row: 3;
  }
  .five {
    grid-column: 1/4;
    grid-row: 4;
  }
  .six {
    grid-column: 1/4;
    grid-row: 5;
  }
  .seven {
    grid-column: 1/4;
    grid-row: 6;
  }
  .eight {
    grid-column: 1/4;
    grid-row: 8;
  }
  .nine {
    grid-column: 1/4;
    grid-row: 7;
  }
</style>
