---
import Button from '../button.astro'
const title = 'Bienvenidos'
const description1a =
  ' Hola, mi nombre es Diego. Soy Frontend Developer con React y React Native.'
const description1b =
 ' En este Blog voy a compartir mi experiencia y crear prototipos. Algunos proyectos estan relacionados a la medicina (soy médico tambien)'
const description2 =
  ' Esta web fue creada principalmente con Astro, React, Tailwind y DaisyUI'
const description3 =
  ' Puedes personalizar el theme y las fuentes usando el menu de la barra de navegación (Navbar)'  
const description4 =
  ' Puedes clonar este sitio en GitHub'
const signature = 'Diego Nicita'
const image = '/webapp/logo-grande.png'
const button1 = 'Acerca de Mi'
const link1 = '/curriculum'
const button2 = 'Github Repo'
const link2 = 'https://github.com/diegonicita/astro-react-daisy-webapp'
---

<div class="hero bg-base-400 max-w-[60rem] m-auto">
  <div class="hero-content flex-col-reverse xl:flex-row-reverse">
    <img src={image} class="w-[0%] md:w-[45%]" />
    <div class="w-full">
      <h1 class="text-6xl font-bold" style="text-wrap: balance">
        {title}
      </h1>
      <div class="flex flex-row">
        <div class="flex-1 flex-grow-[2]">
          <h3
            class="text-md text-slate-500 items-start"
            style="text-wrap: balance"
          >
            {description1a}
          </h3>
          <!-- <h3
            class="text-md text-slate-500 items-start"
            style="text-wrap: balance"
          >
            {description2}
          </h3> -->
          <h3
            class="text-md text-slate-500 items-start"
            style="text-wrap: balance"
          >
            {description1b}
          </h3>
          <!-- <h3
            class="text-md text-slate-500 items-start"
            style="text-wrap: balance"
          >
            {description3}
          </h3> -->
          <h3
            class="text-md text-slate-500 items-start"
            style="text-wrap: balance"
          >
            {description4}
          </h3>
          <!-- <h4 class="flex justify-start pt-4  text-slate-500">{signature}</h4> -->
        </div>
        <div class="flex-grow-[1] xl:flex-grow-[0]"></div>
      </div>
      <Button notPrimary big outline to={link1}>{button1}</Button>
      <Button big to={link2}>{button2}</Button>
    </div>
  </div>
</div>
