---
import Horizontal from './horizontal.astro'
import Vertical from './vertical.astro'
const { link, logo, title, idiomas, max = '', auth} = Astro.props
---

<script>
  import {
    setListItemToLostFocusOnClick,
    setButtonGroupHorizontalLostFocusOnMouseOver,
  } from './js/focus.js'
  import { setThemeButtonsListeners } from './js/themes.js'
  import { setFontButtonsListeners } from './js/fonts.js'
  import { setLanguageButtonsListeners } from './js/language.js'
  setListItemToLostFocusOnClick()
  setButtonGroupHorizontalLostFocusOnMouseOver()
  setThemeButtonsListeners()
  setFontButtonsListeners()
  setLanguageButtonsListeners()
</script>

<div class=`flex justify-center ${max} m-auto`>
  <div class="navbar bg-base-100">
    <Vertical title={title} link={link} logo={logo} />
    <Horizontal idiomas={idiomas} auth={auth}/>
  </div>
</div>
